USE [master]
GO
/****** Object:  Database [HrTask]    Script Date: 8/7/2020 22:47:39 ******/
CREATE DATABASE [HrTask]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HrTask', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HrTask.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HrTask_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HrTask_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HrTask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HrTask]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/7/2020 22:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CVs]    Script Date: 8/7/2020 22:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Salary] [int] NOT NULL,
	[Age] [int] NOT NULL,
	[Education] [nvarchar](50) NOT NULL,
	[Experience] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CVs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/7/2020 22:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacancies]    Script Date: 8/7/2020 22:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacancies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JobTitle] [nvarchar](50) NOT NULL,
	[Company] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Salary] [int] NOT NULL,
	[Age] [int] NOT NULL,
	[Education] [nvarchar](50) NOT NULL,
	[Experience] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[About] [nvarchar](250) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Vacancies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacancyCVs]    Script Date: 8/7/2020 22:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacancyCVs](
	[Vacancy_ID] [int] NOT NULL,
	[CV_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VacancyCVs] PRIMARY KEY CLUSTERED 
(
	[Vacancy_ID] ASC,
	[CV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CVs] ON 

INSERT [dbo].[CVs] ([ID], [Name], [Surname], [Category], [City], [Salary], [Age], [Education], [Experience], [Phone], [Gender], [UserId]) VALUES (5, N'Feyruz', N'Qoca', N'Driver', N'Qazax', 900, 25, N'Bachelor''s degree', N'1-3 years', N'+(994)(51)-858-18-88', N'Male', 4)
INSERT [dbo].[CVs] ([ID], [Name], [Surname], [Category], [City], [Salary], [Age], [Education], [Experience], [Phone], [Gender], [UserId]) VALUES (6, N'Novruz', N'Qoca', N'Banking', N'Bakı', 2150, 27, N'Master''s degree', N'3-5 years', N'+(994)(55)-212-02-66', N'Male', 3)
SET IDENTITY_INSERT [dbo].[CVs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Username], [Email], [Password], [Role]) VALUES (1, N'Muganbank', N'mail@muganbank.az', N'Sim#3', N'Employer')
INSERT [dbo].[Users] ([ID], [Username], [Email], [Password], [Role]) VALUES (2, N'Codeacademy', N'mail@code.edu.az', N'Sim#3', N'Employer')
INSERT [dbo].[Users] ([ID], [Username], [Email], [Password], [Role]) VALUES (3, N'Novruz', N'novruz@gmail.com', N'Sim#3', N'Jobseeker')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vacancies] ON 

INSERT [dbo].[Vacancies] ([ID], [JobTitle], [Company], [Category], [City], [Salary], [Age], [Education], [Experience], [Phone], [About], [UserId]) VALUES (4, N'Design', N'Code', N'Programing', N'Bakı', 1350, 28, N'Master''s degree', N'3-5 years', N'+(999)(50)-999-99-99', N'ADOBE', 2)
INSERT [dbo].[Vacancies] ([ID], [JobTitle], [Company], [Category], [City], [Salary], [Age], [Education], [Experience], [Phone], [About], [UserId]) VALUES (5, N'Credit', N'Muganbank', N'Banking', N'Bakı', 2400, 20, N'Master''s degree', N'3-5 years', N'+(994)(50)-933-59-33', N'Credit', 1)
SET IDENTITY_INSERT [dbo].[Vacancies] OFF
GO
INSERT [dbo].[VacancyCVs] ([Vacancy_ID], [CV_ID]) VALUES (4, 6)
INSERT [dbo].[VacancyCVs] ([Vacancy_ID], [CV_ID]) VALUES (5, 6)
GO
/****** Object:  Index [IX_UserId]    Script Date: 8/7/2020 22:47:39 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[CVs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Email]    Script Date: 8/7/2020 22:47:39 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Username]    Script Date: 8/7/2020 22:47:39 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 8/7/2020 22:47:39 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Vacancies]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CV_ID]    Script Date: 8/7/2020 22:47:39 ******/
CREATE NONCLUSTERED INDEX [IX_CV_ID] ON [dbo].[VacancyCVs]
(
	[CV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vacancy_ID]    Script Date: 8/7/2020 22:47:39 ******/
CREATE NONCLUSTERED INDEX [IX_Vacancy_ID] ON [dbo].[VacancyCVs]
(
	[Vacancy_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CVs_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[CVs] CHECK CONSTRAINT [FK_dbo.CVs_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Vacancies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vacancies_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Vacancies] CHECK CONSTRAINT [FK_dbo.Vacancies_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[VacancyCVs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VacancyCVs_dbo.CVs_CV_ID] FOREIGN KEY([CV_ID])
REFERENCES [dbo].[CVs] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VacancyCVs] CHECK CONSTRAINT [FK_dbo.VacancyCVs_dbo.CVs_CV_ID]
GO
ALTER TABLE [dbo].[VacancyCVs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VacancyCVs_dbo.Vacancies_Vacancy_ID] FOREIGN KEY([Vacancy_ID])
REFERENCES [dbo].[Vacancies] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VacancyCVs] CHECK CONSTRAINT [FK_dbo.VacancyCVs_dbo.Vacancies_Vacancy_ID]
GO
USE [master]
GO
